---
import Main from "../layouts/Main.astro";
import Cards from "../components/Cards.astro";
import TextLogo from "../components/react/TextLogo.jsx";

const blogs = await Astro.glob<{

	title: string;
	subtitle: string;
	author: string;
	image: string;
	alt: string;
}>("../pages/blogs/*.md");
---
	
<Main title="Index Page">
	<div class="profile">

		<TextLogo/>

		<div class="landing__page__description">
			<p>The scientific appreciation of movement.</p>
		</div>

		<Cards
			cards={[
				{
					title: "Horses in Motion",
					to: "https://en.wikipedia.org/wiki/Horse",
					gradientStart: "#FFFDD8",
					gradientEnd: "#D8FFFB"
				},

				{
					title: "Flowing of Guinness",
					to: "https://en.wikipedia.org/wiki/Guinness",
					gradientStart: "#D8E8FF",
					gradientEnd: "#FCD8FF"
				},

				{
					title: "Tissue Growth",
					to: "https://en.wikipedia.org/wiki/Tissue_growth",
					gradientStart: "#FE9D98",
					gradientEnd: "#F1FE98"
				}
			]}
		/>

		<!--
		<ol>
			{
			  blogs.map((blog) => (
				<li class="blogs__list">
				  <a href={blog.url} class="blog__link">
					{blog.frontmatter.title}
				  </a>
				</li>
			  ))
			}
		</ol>	
		 -->

	</div>
</Main>

<style>
	.blogs__list {
		list-style: none;
	}
</style>