---
export type Props = {
    to: string;
    title: string;
    gradientStart: string;
    gradientEnd: string;
}

const { title, to, gradientStart, gradientEnd } = Astro.props; // properties that can be declared from other components
---

<a href={to} class="card">
    <div class="card__inner">
        <div class="card__title">{title}</div>
        <div class="card__footer">&rarr;</div>
    </div>
</a>

<style define:vars={{gradientStart, gradientEnd}}>

    .card {
        border-radius: var(--radius);
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        background-image: linear-gradient(
            to right,
            var(--gradientStart), 
            var(--gradientEnd)
        );

    }

    .card:hover {
        transform: scale(0.95);
    }

    .card__inner {
        border-radius: var(--radius);
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .card__title {
        font-size: 1.2rem;
        color: black;
        font-weight: 500;
        line-height: 1.75rem;
    }

    .card__footer {
        padding-top: 0.5rem;
        font-size: 1.2rem;
        color: black;
        margin: auto 0 0 auto;
    }

</style>

<script define:vars={{ gradientStart }}>
    console.log(gradientStart);
</script>